body{
    background-color: #FCFCFC;
    overflow:hidden;
}


.body-content{
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25%;
    row-gap: 5%;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans Mono", monospace;
    white-space: nowrap;
}

.button:hover{
    background:whitesmoke;
}

.button:active,
.button{
    color: gray;
    font-size: 0.7em;
    padding: 0.4em 0.4em;
    margin: 0.25em;
    border: solid 0.2em;
    border-radius: 0.75em;
    border-color:gainsboro;
    text-decoration: none;
}

.top-text{
    margin-bottom: 0.5em;
    font-size: x-large;
    color: black;
}
.bottom-text{
    font-size: large;
    color:gray;
    margin-bottom: 1.5em;
}

.right-container{
    border: solid 0.15em;
    border-radius: 0.75em;
    border-color:gainsboro;
    padding: 1.5em;
}

.bottom-app{
    font-size: medium;
    color: gray;
}

.icons{
    display: inline-flex;
    align-items: center;
    justify-items: center;
}

.button svg{
    display: block;
}

.app-href svg{
    transform: scale(1);
}

.app-href{
    display: flex;
    font-size: medium;
    column-gap: 0.2em;
    color: gray;
}

.app-title{
    font-size: large;
    color:black;
}

.top-app-link:hover{
    border-radius: 0.75em;
    background-color: #f2f2f2;
}
.top-app-link:active,
.top-app-link{
    display: inline-flex;
    align-items: center;
    padding: 0.2em;
    margin-bottom: 0.2em;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 0.2em;
    border: solid 0.15em gainsboro;
    border-radius: 0.4em;
}

.image{
    margin-right: 0.5em;
    
}